/************************************************************************/

body {
  background: #365d97;
  color: #404040;
  font-family: Lato, Arial, Helvetica, sans-serif;
}
@media (max-width: 660px), print {
  body {
    background: #ffffff;
  }
}

main {
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  max-width: 900px;
  margin: 2.1rem auto;
}
@media (max-width: 930px) {
  main {
    margin: 1.4rem 1.4rem;
  }
}
@media (max-width: 660px), print {
  main {
    margin: 0;
  }
}

p + p {
  margin-top: 0.6em;
}

.history p {
  margin-top: 0;
}

.only-mobile {
	visibility: hidden;
	display: none;
}

@media (max-width: 520px) {
	.only-mobile {
		visibility: visible;
		display: initial;
	}
}

/************************************************************************/

nav {
  position: fixed;
  z-index: 1000;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 0px;
}

nav > .tag {
  margin-bottom: 2px;
}

/************************************************************************/

header {
  padding: 2.1rem 2.1rem 0rem;
}
@media (max-width: 930px) {
  header {
    padding: 1.4rem;
  }
}

header > .left {
  display: inline-block;
  width: 30%;
  margin-right: 2.1rem;
}
@media (max-width: 930px) {
  header > .left {
    margin-right: 1.4rem;
  }
}
@media (max-width: 660px), print {
  header > .left {
    display: none;
  }
}

header > .right {
  display: inline-block;
  vertical-align: top;
  width: calc(69% - 2.1rem);
}
@media (max-width: 930px) {
  header > .right {
    width: calc(69% - 1.4rem);
  }
}
@media (max-width: 660px), print {
  header > .right {
    width: 100%;
  }
}

.header-name {
  color: #3863a0;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header-title {
  color: #606060;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

sub {
  font-size: 0.75em;
}

.profile_photo {
  width: 160px;
  height: 160px;
  border-radius: 5px;
}
@media print {
  .profile_photo {
    filter: grayscale(100%);
  }
}

.profile_photo_small {
  width: 140px;
  height: 140px;
  border-radius: 5px;
}
@media print {
  .profile_photo_small {
    filter: grayscale(100%);
  }
}


#contactDetails {
  width: 100%;
  margin: 0.7rem 0;
  text-align: center;
}

td {
  padding-bottom: 0.3rem;
}

tr:last-child td {
  padding-bottom: 0rem;
}

.top_tags {
  margin-top: 2.1rem;
  text-align: center;
}
@media (max-width: 930px) {
  .top_tags {
    margin-top: 1.4rem;
  }
}
@media (max-width: 660px), print {
  .top_tags {
    margin-top: 0.7rem;
  }
}

.tag {
  border-radius: 3px;
  border: 1px solid transparent;
  display: inline-block;
  padding: 2px 20px 0;
  margin-bottom: 7px;
  margin-right: 7px;
  background-color: #175ba0;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
  text-decoration: none;
}

.tag:hover {
  background: -webkit-linear-gradient(#4777bb, #3e68a2);
  background: linear-gradient(#4777bb, #3e68a2);
}

.tag:last-child {
  margin-right: 0px;
}

/************************************************************************/

.cell_container {
  display: flex;
  flex-wrap: wrap;
}

.cell_right {
  border-right: 0;
}

.cell_one_eight {
  display: block;
  box-sizing: border-box;
  flex-basis: 12.5%;
}

.cell_quarter {
  display: block;
  box-sizing: border-box;
  flex-basis: 25%;
}

.cell_third {
  display: block;
  box-sizing: border-box;
  flex-basis: 33%;
}

.cell_three_eights {
  display: block;
  box-sizing: border-box;
  flex-basis: 37.5%;
}

.cell_half {
  display: block;
  box-sizing: border-box;
  flex-basis: 50%;
}

.cell_five_eights {
  display: block;
  box-sizing: border-box;
  flex-basis: 62.5%;
}

.cell_two_thirds {
  display: block;
  box-sizing: border-box;
  flex-basis: 67%;
}

.cell_three_quarters {
  display: block;
  box-sizing: border-box;
  flex-basis: 75%;
}

.cell_full {
  display: block;
  box-sizing: border-box;
  flex-basis: 100%;
}

@media (max-width: 520px) {
  .cell_quarter { flex-basis: 100%; }
  .cell_third { flex-basis: 100%; }
  .cell_half { flex-basis: 100%; }
  .cell_two_thirds { flex-basis: 100%; }
  .cell_three_quarters { flex-basis: 100%; }
}

@media print {
  .cell_half {
    /* border-right: 2px solid #b0b0b0; */
  }
  .cell_right {
    border-right: 0;
  }
}

/************************************************************************/

.border_top { border-top: 2px solid #b0b0b0; }
.border_left { border-left: 2px solid #b0b0b0; }
.border_right { border-right: 2px solid #b0b0b0; }
.border_bottom { border-bottom: 2px solid #b0b0b0; }

/* https://stackoverflow.com/questions/29291798/how-can-i-create-a-border-in-the-middle-of-the-div-horizontally */
.border-center {
	width: 100%;
	height: 30px;
	position: relative;
}
.border-center:before {
	content: '';
	position: absolute;
	bottom: 50%;
	/* border-bottom: 2px solid #b0b0b0; */
	width: 100%;
	z-index:0;
}

/************************************************************************/

section {
  display: flex;
  padding: 2.0rem;
  box-sizing: border-box;
}
@media (max-width: 930px) {
  section {
    padding: 1.4rem;
  }
}
@media (max-width: 660px), print {
  section {
    flex-wrap: wrap;
    padding: 0.7rem;
  }
}

section > .left {
  flex-basis: 260px;
}
@media (max-width: 660px), print {
  section > .left {
    flex-basis: 100%;
  }
}

section > .right {
  flex-basis: 100%;
}

section > .above {
  flex-basis: 100%;
}

section > .below {
  flex-basis: 100%;
}

@media (max-width: 660px), print {
    section > .cell_three_quarters {
        padding-right: 0.0rem;
    }
}

p {
  line-height: 1.2rem;
}

.section-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 1.2rem;
}

@media print {
  .page-break {
    page-break-before: always;
  }
}

/************************************************************************/

.content-title {
  color: #3863a0;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

li:first-child .content-title {
  padding-top: 0;
}

.content-subtitle {
  color: #404040;
  padding-bottom: 0.5rem;
  text-decoration: underline;
}

li {
  position: relative; /* this gets the following absolute working */
}

.content-dates {
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  right: 0;
  top: 2rem;
}

li:first-child .content-dates {
  top: 1rem;
}

.content-location {
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  right: 0;
  top: 3rem;
}

li:first-child .content-location {
  top: 2rem;
}

.content-details p {
  padding-left: 2rem;
  text-indent: -2rem;
}

#employment_history .content-details ul.bulleted {
  padding-top: 0.2rem;
}

/************************************************************************/

section.static_map {
  background: teal;
  padding: 0;
  overflow: hidden;
  background-image: url(../images/staticmap_canada.png);
  background-position: center;
  background-size: 500px 500px;
  min-height: 300px;
}
@media (max-width: 930px) {
  section.static_map {
  }
}
@media (max-width: 660px), print {
  section.static_map {
    display: none;
  }
}

section.static_map:hover {
  background-image: url(../images/staticmap_calgary.png);
}

img.quote {
  width: 22px;
}

/************************************************************************/

.history {
  width: 100%;
  margin-bottom: 0.8rem;
  page-break-inside: avoid;
}

.history-title {
  color: #3863a0;
  font-weight: bold;
  padding-bottom: 2px;
  text-align: left;
  vertical-align: middle;
}

.history-subtitle {
  color: #3863a0;
  text-align: left;
  vertical-align: top;
  padding-top: 5px;
}

.history-dates {
  font-size: 14px;
  text-align: right;
  vertical-align: middle;
  padding: 0px;
}

.history-dates p {
  line-height: 1rem;
}

/************************************************************************/

li {
  padding-bottom: 0.2rem;
}

ul.bulleted {
  margin-left: 17px;
  list-style: disc;
  line-height: 1.2rem;
}

ul.bulleted > li {
  padding-bottom: 0.4rem;
}

.indented {
  padding-left: 1rem;
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  font-size: 0.96rem;
  line-height: 1.2rem;
  color: #3863a0;
}

/************************************************************************/

.visible-xxxs,
.visible-xxs,
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
@media (max-width: 399px) {
  .visible-xxxs {
    display: initial !important;
  }
}
@media (min-width: 400px) and (max-width: 599px) {
  .visible-xxs {
    display: initial !important;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .visible-xs {
    display: initial !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: initial !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: initial !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: initial !important;
  }
}

@media (max-width: 399px) {
  .hidden-xxxs {
    display: none !important;
  }
}
@media (min-width: 400px) and (max-width: 599px) {
  .hidden-xxs {
    display: none !important;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

/************************************************************************/

footer {
  padding-left: 2.1rem;
  padding-right: 2.1rem;
  padding-bottom: 1rem;
}
@media (max-width: 930px) {
  footer {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
}
@media (max-width: 660px), print {
  footer {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}

footer > .alignleft {
  float: left;
}

footer > .alignright {
  float: right;
  text-align: right;
}

footer p,
footer a,
footer time {
  font-size: 0.7rem;
}

/************************************************************************/
@page {
  size: letter portrait;
  margin: 12mm;
}

@media print {
  body {
    color: #000000;
  }

  nav {
    display: none;
  }

  header {
    padding: 0;
  }

  header > .left {
    display: none;
  }

  .header-name,
  .header-title {
    color: #000000;
  }

  .tag {
    border: 1px solid #b0b0b0;
    background-color: #ffffff;
    color: #000000;
  }

  .content-title,
  .content-subtitle {
    color: #000000;
  }

  .history-title,
  .history-subtitle {
    color: #000000;
  }

  a {
    color: #000000;
  }

  .cell {
    border-right-color: #b0b0b0;
  }

  .cell {
    flex-basis: 50%;
  }

  section {
    border-top-color: #b0b0b0;
  }

  section.static_map {
    display: none;
  }

  section.the_most_amazing {
    flex-basis: 100%;
  }
}

/************************************************************************/
